<section *ngIf="document">
  <div class="document">
    <h2>{{document.name}}</h2>

    <p>{{document.content}}</p>
  </div>

  <form novalidate autocomplete="off" [formGroup]="resolutionFormGroup">
    <mat-radio-group [formControl]="resolutionFormControl">
      <mat-radio-button *ngFor="let resolution of resolutions" [value]="resolution" required>
        {{resolution}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <textarea matInput
                id="{{commentAreaId}}"
                placeholder="Комментарий"
                rows="10" [autofocus]="true"
                [formControl]="commentFormControl">

      </textarea>
    </mat-form-field>
  </form>

  <div class="btn-block">
    <button mat-raised-button color="accent" [disabled]="isInvalidResolutionForm" (click)="approve(1)" >Утвердить</button>
    <button mat-raised-button color="primary" [disabled]="isInvalidResolutionForm" (click)="approve(0)">Отклонить</button>
  </div>
</section>

<div *ngIf="response">{{response}}</div>






