:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

div.document {
  max-width: 900px;
  padding: 20px;

  p {
    text-align: justify;
  }
}

div.btn-block {
  display: flex;
  justify-content: center;
  margin: 20px auto;

  button {
    margin: 0 4px;
    font-family: var(--fe-font-family);
  }
}

form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  mat-radio-group {
    display: flex;
    justify-content: space-between;
    width: 100%;

    mat-radio-button {
      font-family: var(--fe-font-family);
    }
  }

  mat-form-field {
    width: 100%;
    margin-top: 40px;
  }
}

.approve-block {
  max-width: 900px;
  padding: 20px;

  p {
    margin: 20px;
  }
}
