@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import "theme";

@include angular-material-theme($fe-theme);

html, body, fe-root {
  color: #444444;
  font-size: 14px;
  font-family: var(--fe-font-family);
  margin: 0;
  padding: 0;

  * > {
    font-family: var(--fe-font-family);
  }
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
